<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DFP and Infine Scroll Page</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: whitesmoke;
        }
        .header {
            padding-top: 20px;
            padding-left: 20px;
            color: white;
            background-color: darkslategrey;
            font-family: "Roboto";
            size: 100px;
        }
        /* Style the sidebar - fixed full height */
        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 70px;
            left: 0;
            background-color: lightgrey;
            overflow-x: hidden;
            padding-top: 40px;
            font-family: "Roboto";
        }
        /* Style sidebar links */
        .sidebar a {
            padding: 12px;
            text-decoration: none;
            font-size: 14px;
            color: dimgrey;
            display: block;
        }
        /* Style links on mouse-over */
        .sidebar a:hover{
            background-color: black;
            color: white;
        }
        .sidebar a:active
        {
            background-color: black;
            color: white
        }
        @media screen and (max-height: 450px) {
            .sidebar {padding-top: 15px;}
            .sidebar a {font-size: 18px;}
        }
        .container
        {
            margin-top: 80px;
            margin-left: 250px;
            margin-right: 50px;
            font-family: "Roboto";
            color: darkslategrey;
        }
        .list-group
        {
            margin-left: 300px;
            margin-right: 300px;
        }
        .list-group a:hover {
            background-color: darkslategrey;
            color: white;
        }
    </style>
</head>
<body>
<div class="header"><div class="left"><div class="header-img">
    <img src = 123.png height="50"></div>
</div>
</div>
<!-- Side navigation -->
<div class="sidebar">
    <b>
        <a href="test.html"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="click_for_explore_more.html"><i class="fa fa-fw fa-user"></i>One Click Explore More</a>
        <a href="DFP_Infine_Scroll.html"><i class="fa fa-fw fa-user"></i>DFP and Infinite Scroll</a>
        <a href="publisher_lookup.html"><i class="fa fa-fw fa-user"></i>Publisher Lookup</a></b>
</div>
<div class="container">
    <h1><B>DFP and Infinite Scroll</B></h1>
    <br><br>
</div>
<div class="list-group">
    <h4><a href="https://brain.taboola.com/display/AREU/Infinite+Scroll+Code+Generator" class="list-group-item" target="_blank">Infinite Scroll Code Genertor</h4></a>
    <br><br>
    <h4><a href="https://brain.taboola.com/display/AREU/DFP+Code+Generator" class="list-group-item" target="_blank">DFP Code Generator</a></h4>
</div>
<footer>
    <img src="brain.gif" align="right" height="400">
</footer>
</body>
</html>